.additional-product {

}

.additional-product__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.additional-product__wrapper {
  line-height: 14px;
}

.additional-product__value {

}

.additional-product__price {

}

.additional-product__button {
  border: none;
}
