// .catalog {

// }

.catalog__wrapper {
  display: grid;
  grid-template-columns: 320px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 324px;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 63px 80px;
  }
}

.catalog__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

// .catalog__contaiter {

// }
