.cooperation {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 565px;
    height: 199px;
    align-items: center;
  }
}

// .cooperation__container {

// }

.cooperation__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.cooperation__container-street {
  font-size: 14px;
  line-height: 20px;
}

.cooperation__container-city {
  font-size: 14px;
  line-height: 20px;
}
